<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medi.mediproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
        </activity>

        <activity
            android:name=".BaseActivity">
        </activity>

        <activity
            android:name=".ContainerSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PromptBottleActivity">
        </activity>

        <activity
            android:name=".PromptDiaperActivity">
        </activity>

        <activity
            android:name=".PromptGreenActivity">
        </activity>

        <activity
            android:name=".RecordConsumeActivity">
        </activity>

        <activity
            android:name=".RecordUrineActivity">
        </activity>

    </application>

</manifest>